.checkboxToggle {
    opacity: 0;
}

.labelToggle {
    background-color: #8f7a66;
    border-radius: 30px;
    cursor: pointer;

    display: flex;
    justify-content: space-between;

    padding: 3px;
    position: relative;

    height: 20px;
    width: 50px;

    margin-top: 10%;
    margin-left: 80px;

    transform: scale(1.5);
}

.labelToggle .ballToggle {
    background-color: #faf8ef;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;

    height: 22px;
    width: 22px;

    transform: translate(0px);
    transition: transform 0.2s linear;
}

.checkboxToggle:checked + .labelToggle .ballToggle {
    transform: translateX(30px);
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}